.board-container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(8, 60px);
  gap: 2px;
  background-color: #2d582d;
  padding: 10px;
  border-radius: 8px;
}

.board-cell {
  width: 60px;
  height: 60px;
  background-color: #4a752d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-white-piece {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: '#fff'
}

.board-black-piece {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: '#333';
}